<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyz.testandroidapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/j15"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.KJMainActivity" android:theme="@style/AppTheme.AppBarOverlay"></activity>
        <activity android:name=".activity.OkHttpMainActivity"></activity>
        <activity android:name=".activity.FrescoMainActivity"></activity>
        <activity android:name=".activity.FrescoSimpleActivity"></activity>
        <activity android:name=".activity.FrescoAssetsActivity"></activity>
        <activity android:name=".activity.TestSystemServiceActivity"></activity>

\
    </application>

</manifest>